In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.1.1-cp311-cp311-macosx_14_0_arm64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/almogbaku/projects/AlmogBaku/anova4all/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/almogbaku/projects/AlmogBaku/anova4all/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 15.9 MB/s eta 0:00:00 0:00:01
Using cached numpy-2.1.1-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.1

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('anova_traffic999.csv')

In [8]:
df

,time_relative,original_bytes,length,checksum_ok,source,decoded
0,0.000000,6807e6d10b47aedc0da016,7,True,server,status
1,0.080787,6808e6d17b070e59641a1e16,8,True,client,stopped
2,0.080787,6808e6d17b070e59641a1e16,8,True,client,stopped
3,0.296800,680ee4950b4604dc65e880a356ad1c0d4616,14,True,server,read set temp
4,0.384836,68056ad07153a19f16,5,True,client,54.5
...,...,...,...,...,...,...
12767,4208.750445,68056ad07103a14f16,5,True,client,54.0
12768,4208.968644,680ae4950b46045d6ed2d168a416,10,True,server,read unit
12769,4210.754166,6802c634fa16,2,True,client,c
12770,4210.754166,6802c634fa16,2,True,client,c
12771,4210.972788,680be4950b46041d69da9593d02616,11,True,server,read timer

In [5]:
df['decoded'] = df['decoded'].str.strip()

In [22]:
# unique values of decoded without numbers only of checksum true

# remove digits
ret = df[df['checksum_ok'] == True]['decoded'].str.replace('\d+', '', regex=True).str.strip().unique() # noqa
for i in ret:
    # if the string is not number (int or float)
    # if not i.replace('.','',1).isnumeric():
    print(i)

status
stopped
read set temp
.
read temp
read unit
c
read timer
speaker status
speaker is on
set timer

set temp .
get id card
anova f-adc
version
ver ..
get number
abd
set unit f
f
set unit c
start
stop time
event ble time stop
running
user change parameter
event change temp
event stop
event start
status running . c
event temp has reach
start time
event wifi time start
event time finish
event low water
low water
stop
event wifi stop
clear alarm
event ble stop
event ble start
event ble change temp